.searchWrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: inherit;
}

.teamLogo{
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.selectorWrapper{
    display: flex;
    flex-direction: row;
}

.selector{
    width: 15rem;
    height: 3rem;
    background-color: #45474B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.selector[data-isOn="false"] {
    justify-content: flex-end;
}

.handle{
    display: flex;
    align-items: center;
    text-align: center;

    width: 7.5rem;
    height: 2rem;

    background-color: white;
    border-radius: 40px;
}

.playerWrapper{

}