.service {
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #45474B;
}

.contents {
    height: calc(100% - var(--header-height) - 1rem);
    margin-top: 1rem;
}

@media screen and (min-width: 1080px) {
    .service {
        width: 80%;
    }
}

@media screen and (max-width: 1080px) {
    .service {
        width: 100%;
    }
}