/*구글 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

/* 글로벌 */
body{
	display: flex;	
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: white;
	font-family: 'Hammersmith One', sans-serif;
	letter-spacing: 2px /*글자 자간*/
}

select{
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	font-size: large;
	margin: 5% 5% 10% 5%;
}

.left{
    display: flex;
    flex-direction: column;
	text-align: center;
    width: 35%; 
	height: 100%;
	box-sizing: border-box;
    padding:10px;
	margin: 10px 10px 10px 10px;
}

.center{ /*내가 건드는 부분이 아님 */
	border:3px solid black;
	border-radius: 20px;
    display: flex;
    flex-direction: column;
	text-align: center;
    width: 30%; 
	height: 100%;
	box-sizing: border-box;
    padding:10px;
	margin: 10px 10px 10px 10px;
}

.right{
	text-align: center;
    width: 35%; 
	height: 10%;
	box-sizing: border-box;
    padding:10px;
	margin: 10px 10px 10px 10px;
}

/* 세부사항 */
/* 왼쪽 */
.left_league{
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(14, 51, 101);
	border-radius: 20px;
	width: 100%; 
	height: 100%;
}

.left_plist{
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(223, 53, 58);
	border-radius: 20px;
	width: 100%; 
	height: 100%;
	margin: 20px 0px 0px 0px;
	justify-content: center
}

/* 오른쪽 */
.right_league{
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(14, 51, 101);
	border-radius: 20px;
	width: 100%; 
	height: 100%;
}

.right_plist{
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(223, 53, 58);
	border-radius: 20px;
	width: 100%; 
	height: 100%;
	margin: 20px 0px 0px 0px;
}

/* 선수 얼굴 사진 */
.id_photo{
    object-fit: cover; /* cover할 경우 좀 짤리지만 얼굴이 잘보임 contain의 경우 안짤리지만 얼굴 잘 안보임 */
	width: 50px;
    height: 50px; 
    border-radius: 30%;
	border: 5px solid rgb(255, 255, 255);
	margin: 0px 5px 0px 0px;
}
/* 체크 박스 CSS */
.check_box {
	text-align: left; 
	padding: 10px;
	font-size: x-large;
	line-height: 50px;
  }
  
.check_box input[type="checkbox"]{
	height: 25px;
	width: 25px;
}

/* 글씨 css */
.text_choose{
	color: white;
}

/* 선수 목록 버튼 */
#l_btn{
	display: flex;
    align-items: center;
	text-align: left;
	margin: 12px 12px 12px 12px;
	border: none;
    border-radius: 15px;
	width: 95%;
	font-family: 'Hammersmith One', sans-serif;
	font-size: x-large;
	transition: transform ease-in-out .2s;
}

#l_btn:hover{
	transform: scale(1.1);
}

#r_btn{
	display: flex;
    align-items: center;
	text-align: left;
	margin: 12px 12px 12px 12px;
	border: none;
    border-radius: 15px;
	width: 95%;
	font-family: 'Hammersmith One', sans-serif;
	font-size: x-large;
	transition: transform ease-in-out .2s;
}

#r_btn:hover{
	transform: scale(1.1);
}

#l_btn_img{
	height : 60px;
	margin: 0px 20px 0px 5px;
}


#r_btn_img{
	height : 60px;
	margin: 0px 20px 0px 5px;
}
/* 메인 버튼 */
.Button1 {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #0010c1 5%, #0061a7 100%);
	background-color:#1700c1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:14px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.Button1:hover {
	background:linear-gradient(to bottom, rgb(22, 0, 167) 5%, #007dc1 100%);
	background-color:#090f60;
}
.Button1:active {
	position:relative;
	top:1px;
}

.Button2 {
	box-shadow:inset 0px 1px 0px 0px #c32210;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:3px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding:14px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.Button2:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.Button2:active {
	position:relative;
	top:1px;
}


