.main_box {
    display: flex;
    overflow: hidden;
    height: auto;
}

.intro_player {
    border-radius: 5px;
    border: 2px solid black;
    justify-content: center;
    margin-bottom: 1%;
}

.player_table {
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 2px solid black;
    justify-content: left;
    padding: 1%;
}

.compare_btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin: 0.5rem;
    text-align: center;
}

.Button1 {
    font-size: 1.1rem;
    cursor: pointer;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
}

.Button1:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.Button1:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;
}

.right_box{
    width: 15%;
    height:100%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #000000;
}

.left_box{
    width: 100%;
    flex-direction: column;
    margin-right: 1rem;
}