.up_box{
    display:flex;
    margin-bottom: 1%;
    width:100%;
}

.player_info{
    font-size: 90%;
    width:45%;
    margin-right: 2%;
}

.player_table{
    width:55%;
    text-align: center;
    justify-content: center;
}

.player_graph{
    text-align: center;
    justify-content: center;
	border:2px solid #eee;
}