/*구글 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* 전반적인 틀 */
.main_frame {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: 2px /*글자 자간*/
}

.left, .right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 36%;
    height: 100%;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
}

.center { /* 전체 크기의 틀은 유지 해야 함 */
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 28%;
    height: 100%;
    box-sizing: border-box;
    margin: 8px 8px 8px 8px;
}

/* 세부사항 */
.left_league, .right_league {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(14, 51, 101);
    border-radius: 20px;
    width: 100%;
}

.left_plist, .right_plist {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(223, 53, 58);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px 0px;
}

.left_select, .right_select {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 110%;
    margin: 5% 5% 10% 5%;
}

/* 선수 얼굴 사진 */
.id_photo {
    object-fit: cover; /* cover할 경우 좀 짤리지만 얼굴이 잘보임 contain의 경우 안짤리지만 얼굴 잘 안보임 */
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: 2px solid rgb(0, 0, 0);
    margin: 0px 5px 0px 3px;
    align-items: center;
}

/* 체크 박스 CSS */
.check_box {
    text-align: left;
    padding: 5px;
    font-size: 130%;
    line-height: 350%;
    letter-spacing: 0.8px /*글자 자간*/
}

.check_box input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

/* 글씨 css */
.text_choose {
    color: white;
    font-size: 180%;
}

.text_list {
    font-size: 180%;
}