.header {
    height: var(--header-height);
    left: auto;
    top: auto;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;

    padding: 1rem;

    margin-left: auto;
    margin-right: auto;
}

.flexItem {
    display: flex;
    pointer-events: auto;

    align-items: center;
}

.flexItem > *{
    margin-left: 1rem;
}

.searchBar {
    display: flex;
    align-items: center;
    position: relative;

    text-align: left;
}

.searchBar > * {
    margin: 0.2rem;
}

.searchWrapper {
    position: absolute;
    top: calc(100%);

    border-radius: 1rem;

    left: -5px;
    background-color: #45474B;

    width: 100%;
    max-height: 345px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.searchResultWrapper {
    padding: 0.5rem;

    color: #FFFFFF;

    overflow-x: auto;
    overflow-y: auto;
}

.searchItem {
    display: flex;
    justify-items: left;
}